.parent
    .Search
        label.Search__body
            .Search__label Search
            input.Search__input(type="search" name="q")
            button.Search__button
                span(hidden) Search
                .fa.fa-search
.Logger.Logger--stickyBottom(data-logger='')
